<template>
  <header id="about-container">
    <section id="jumbotron" />
    <section class="content-container">
      <h1 id="title">{{ author.fields.name }}</h1>
      <h2>About Me</h2>
      <p>{{ author.fields.bio }}</p>
    </section>
  </header>
</template>

<script>
export default {
  props: {
    author: {
      type: Object,
      default: function () {
        return {
          fields: {
            id: "",
            name: "",
            authorImage: "",
            bio: "",
          },
        };
      },
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/scss/variables.scss";

#about-container {
  margin-top: 0;
  padding-top: 0;

  #jumbotron {
    margin-top: 0;
    padding-top: 0;
    height: 20rem;
    background-image: url("../assets/img/spiral.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $mobile-lg) {
      height: 10rem;
    }
  }

  #title {
    color: $main-accent-color;
    font-size: 4rem;
  }
}
</style>
