<template>
  <footer class="child-container">
    <p>&copy; {{ currentYear }} {{ authorName }}</p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
  props: ['authorName'],
};
</script>

<style lang="scss">
footer {
  text-align: center;
}
</style>
